.bg-container{
height: 100vh;
width:100vw;
background-color: #ffffff;
background-size: cover;

}
.container{
    height:520px;
    width: 500px;
    margin-left: 10px;
     
    border-color: rgb(184, 184, 184);
   background-color: rgb(255, 255, 255);
}

.main-heading{
    text-align: center;
    color: white;

}
.mainName{
    margin-top: 20px;
}
.name{
    font-size: 20px;
    font-family: roboto; 
    margin-left: 50px;  
    color: black;
  
}
.first_name{
    width: 300px;
    height: 30px;
    border-width: 0 0 2px;
    border-color:black;
    margin-left: 0px;
    position: static;
}
.first_name:hover{
    border-width: 0 0 2px;
}
/* .first_name:focus {
    border: 1px solid #b6b3b3;} */

.submitButton{
    height: 40px;
    width: 200px;
   margin-top: px;
   margin-left: 180px;
   font-size:20px;
color: black;
border-color: black;
   
}
.submitButton:hover{
    background-color:black;
    font-size: 25px;

color: #ffffff;
}

.Mobilename{
    font-size: 20px;
    font-family: roboto; 
    margin-left: 50px;   
    color: black;
 
}
.Mobile_name{
    width: 230px;
    height: 30px;
    border-width: 0 0 2px;
    margin-left: 0px;
    border-color:black;

}
.error{
    color:red;
    font-size: 12px;
}
.emailName{
    width: 170px;
    height: 30px;
    border-width: 0 0 2px;
    margin-left: 0px;
    border-color:black;

}
.resumename{
    font-size: 20px;
    font-family: roboto; 
    margin-left: 40px;   
}
::placeholder { 
    color: black;
    
  }
  .required{
    font-size: 7px;
    color: red;
    margin-left: 50px;
  }